<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- Local package source (when building NuGet packages into the .\nupkgs folder and referencing them instead, should not be uncommented in production code) -->
		<!-- <add key="LocalPackages" value=".\.nupkgs" /> -->
		<!-- Other sources like nuget.org -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>